#
# phpBB Style Configuration File
#

# General Information about this style
name = ForgeBoard
copyright = (c) FanFanLaTuFlippe, 2026 — GPL-2.0-or-later
style_version = 1.0.2
phpbb_version = 3.3.16

# Parent style
# This style inherits templates and base assets from prosilver.
parent = prosilver
